@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;900&display=swap');

body{
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: $cool_gray;
}

h1 {
    font-family: $font-family;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 64px;
    letter-spacing: 0px;
    text-align: left;
    color: $space_cadet;
}

h2{
    font-family: $font-family;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 44px;
    letter-spacing: 0px;
    text-align: left;
    color:  $space_cadet;
}

.overline{
    font-family: $font-family;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 26px;
    letter-spacing: 4px;
    text-align: left;
    color:$primary;
    text-transform: uppercase;
}
